name: Docs

on:
  push:
    branches:
      - main

jobs:
  gh-pages:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: volta-cli/action@v1
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install dependencies
        run: yarn install
      - name: Create initial tree-sitter config file
        run: yarn tree-sitter init-config
      - name: Update config with desired settings
        run: cp docs/config.json $HOME/.tree-sitter/config.json
      - name: Generate highlighted file
        run: yarn --silent tree-sitter highlight --html test/highlight/highlights.hbs > docs/index.html
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.0
        with:
          branch: gh-pages
          folder: docs
